<header class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>The Odin Flicker</h1>
    </div>
    <p class="nav navbar navbar-right"><%= link_to "Flickr", "https://www.flickr.com/" %></p>
  </div>
</header>
